<!DOCTYPE html>
<!--Root element-->
<html lang="en">
<head> <!--machine code-->
    <meta charset="UTF-8">   <!--Supplying support to any character the user input on the page, or exist in the code-->
    <title> 👾 Developed bye Nastya 👾 </title>
    <!--    import ssc file-->
    <link rel="stylesheet" href="/styles/style.css">

</head>


<body>
<div class="pageContainer"> <!--Container element->

<!-Hero text section-->
<div class="navLogo" </div>
<h1>Website name</h1>
<ul class="myUL">
  <li>Home page</li>

</ul>

    <div class="item navBar"> navBar</div>

    <div class="item topBar"> topBar</div>

    <div class="item bodyPart">
        <h1> I like code </h1></div>

    <div class="item l-sPanel"> Right Side Panel</div>

    <div class="item R-sPanel"> Left Side Panel</div>
    <div class="item Footer"> Footer</div>

</div>

</body>
</html>

