# Default ignored files
/../../First-Pure-html-css-layout-design /.idea/shelf/
/../../First-Pure-html-css-layout-design /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../First-Pure-html-css-layout-design /.idea/httpRequests/
